@use "~/styles/variables";

.sidebar_container {
  transition: width 80ms ease-in-out;
  height: 100vh; // Change from 100% to 100vh
  background-color: variables.$secondary_color;
  overflow: visible;
  position: sticky; // Change from fixed to sticky
  top: 0; // Add this line
  z-index: 99;
}

.sidebar {
  transition: width 80ms ease-in-out;
  height: 100vh; // Change from 100% to 100vh
  background-color: variables.$secondary_color;
  background-image: variables.$secondary_gradient;
  z-index: 3;
  overflow: hidden;
  position: absolute; // Change from fixed to absolute
}

.sidebar_button {
  position: fixed;
  top: 20px;
  color: black;
  transition: left 150ms ease-in-out;
  transform: scale(2, 3);
  height: 20px;
  padding-left: 10px;
  padding-right: 9px;

  &_active {
    @extend .sidebar_button;
    z-index: -1;
  }

  @media (orientation: portrait) {
    z-index: 5;
    color: variables.$base_color;
  }
}

.sidebar_lower_icons {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
