.layout_container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 0;
}

.content_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  margin: auto;

  @media (orientation: portrait) {
    padding-left: 0;
  }
}
