.layout_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 0;

  @media (orientation: portrait) {
    flex-direction: column;
    flex-wrap: unset;
  }
}

.content_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  margin: auto;

  @media (orientation: portrait) {
    margin: unset;
    
  }
}
