$font-scaling: 1.15vw;

.expbox_container {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0px 2%;
  gap: 0px;

  ul {
    padding: 0 2%;
    list-style-type: square;

    li {
      margin-top: 15px;
      font-weight: 200;
      $font-scaling-offset: 0.35vw;
      font-size: calc($font-scaling - $font-scaling-offset);

      @media (orientation: portrait) {
        margin-top: 2%;
        font-size: 40%;
      }
    }
  }

  p {
    line-height: 275%;
  }

  hr {
    padding-bottom: 1%;
  }
}

.inline_title {
  display: inline-block;
  $font-offset: 0.2vw;

  @media (orientation: portrait) {
    padding-top: 0px;
  }

  h2 {
    display: inline-block;
    text-align: left;
    font-size: $font-scaling;
    font-weight: 500;

    @media (orientation: portrait) {
      font-size: 55%;
    }
  }

  h3 {
    float: right;
    font-size: calc($font-scaling - $font-offset);
    @media (orientation: portrait) {
      font-size: 45%;
    }
  }
}
