@use '~/styles/variables';

.intro_box {
 position: relative;
 bottom: 4vh;
 width: 68vw;
}

.blurb_box {
    margin-top: 50px;
    p {
        margin-bottom: 20px;
    }

    button {
        padding: 8px 20px;
        margin-right: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
        text-transform: uppercase;
        outline: none;

        &:hover {
            outline: 2px solid variables.$accent_color;
        }
    }
}

.title_name {
    vertical-align: middle;
    position: relative;
    bottom: -3vw;
    left: -0.45vw;
    display: inline-block;
    animation: animate__tada;
    animation-duration: 2s;
}

.title_tagline {

}