@use '~/styles/variables';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 0;
    // max-width: calc(50vh * (10 / 16));
    // max-height: 50vh;
    // flex-grow: 1;
    // flex-basis: 50vh;
    background-color: variables.$secondary_color;
    transition: width 500ms, height 500ms;

    h3 {
        margin: 0;
        padding: 5px 5px;
    }

    &:hover {
        transform: scale(1.030);
    }
}

.img_box {
    position: relative;
    min-width: 100%;
    min-height: 75%;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal_content {
    height: 40%;
    width: 50%;
    background-color: variables.$secondary_color;
    margin:auto auto;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}