@use '~/styles/variables';

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: variables.$secondary_color;
    padding: 15px 20px;
    height: 22vh;
    width: 24vw;

    &:hover {
        transform: scale(1.05);
        border: 1px solid variables.$accent_color;
    }
}

.img_box {
    position: relative;
    min-width: 100%;
    min-height: 75%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal_content {
    height: 40%;
    width: 50%;
    background-color: variables.$secondary_color;
    margin:auto auto;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tag_block {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    width: 80%;

    .tag {
        color: variables.$text_color;
        padding: 1px 5px;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0.03);
    }
}
