// Global Style Variables
$base_color: rgb(193, 193, 193);
$base_color_hover: rgb(226, 226, 226);
$secondary_color: black;
$secondary_color_hover: rgb(33, 33, 33);
$accent_color: white;
$accent_color_hover: rgb(220, 220, 220);