@use 'variables';
@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,500;0,600;0,900;1,100;1,200;1,500;1,600;1,900&display=swap');

h1 {
  font-weight: 600;
  color: variables.$text_color;
  font-size: 8vw;
}

h2 {
  font-weight: 200;
  color: variables.$text_color;
  font-size: 2vw;
}

h3 {
  font-weight: 200;
  color: variables.$text_color;
  font-size: 1.5vw;
}

p {
  font-weight: 100;
  color: variables.$text_color;
  font-size: 0.9vw;
}

button {
  font-weight: 200;
  font-size: 0.9vw;
  color: variables.$text_color;

  &:hover {
    background-color: rgba(255, 255, 255, 0.10);
  }

  &:active {
      background-color: rgba(255, 255, 255, 0.2);;
  }
}

:root {
  font-family: 'Chivo Mono', monospace;
  background-color: variables.$base_color;
  background-image: variables.$base_gradient;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  height: 100vh;
}

.page_container {
  display: flex;
  flex-direction: column;
  margin: 5% 5%;
}
